services:
  fusionauth:
    image: fusionauth/fusionauth-app:latest
      
    restart: unless-stopped
    ports:
      - 9011:9011
    volumes:
      - fusionauth_config:/usr/local/fusionauth/config


volumes:
  fusionauth_config:
